<!--<div class="search-trial">-->
    <!--<label for="{{vm.title}}">"{{vm.title | capitalize}}"</label>-->
    <!--&lt;!&ndash; Drop down list with single select &ndash;&gt;-->
    <!--<ui-select ng-if="!vm.multiple" ng-model="vm.selected" name="search-{{vm.title}}" id={{vm.title}}" theme="bootstrap">-->
        <!--<ui-select-match placeholder="Select {{vm.title}}...">{{$select.selected.name}}</ui-select-match>-->
        <!--<ui-select-choices repeat="item in vm.itemArray | filter: $select.search track by item.id">-->
            <!--<div ng-bind-html="item.name | highlight: $select.search"></div>-->
        <!--</ui-select-choices>-->
    <!--</ui-select>-->

    <!--&lt;!&ndash; Drop down list with multiple select &ndash;&gt;-->
    <!--<ui-select ng-if="vm.multiple" ng-model="vm.selected" name="search-{{vm.title}}" id="{{vm.title}}" theme="bootstrap" close-on-select="false">-->
        <!--<ui-select-match placeholder="Select {{vm.title}}...">{{$item.name}}</ui-select-match>-->
        <!--<ui-select-choices repeat="item in vm.itemArray | propsFilter: {name: $select.search} track by item.id">-->
            <!--<div ng-bind-html="item.name | highlight: $select.search"></div>-->
        <!--</ui-select-choices>-->
    <!--</ui-select>-->
<!--</div>-->


