<div class="search-trial">
    <label for="{{prop}}">{{label | ucfirst }}</label>
    <!-- Drop down list with single select -->
    <div ng-if="multiple == 0">
        <ui-select ng-model="selected[prop]" name="search-{{prop}}" id="{{prop}}" theme="bootstrap" ng-disabled="disableInputField && prop !== 'trial_id'" ng-change="getSelectedTrial(prop); resetForm(prop)">
            <ui-select-match placeholder="Select {{label}}...">{{$select.selected[prop]}}</ui-select-match>
            <ui-select-choices repeat="item in selectOptions | filterBy: [prop]: $select.search | uniqueObj track by $index">
                <div ng-if="trialSelected" ng-bind-html="item[prop] | highlight: $select.search"></div>
                <div ng-if="!trialSelected && !(prop === 'observation' && (item[prop] | startsWith: 'Teph'))" ng-bind-html="item[prop] | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <!-- Drop down list with multiple select -->
    <div ng-if="multiple == 1">
        <ui-select multiple ng-model="selected[prop]" name="search-{{prop}}" id="{{prop}}" theme="bootstrap" close-on-select="true" ng-disabled="disableInputField && prop !== 'trial_id'">
            <ui-select-match placeholder="Select {{label}}...">{{$item[prop]}}</ui-select-match>
            <ui-select-choices repeat="item in selectOptions | filterBy: [prop]: $select.search | uniqueObj track by $index">
                <div ng-if="trialSelected && !(prop === 'tillage_practice' && (item[prop] | startsWith: 'zero'))" ng-bind-html="item[prop] | highlight: $select.search"></div>
                <div ng-if="!trialSelected && (prop !== 'farm_yard_manure')" ng-bind-html="item[prop] | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>