<section class="about-page">
    <!--Header banner section-->
    <section class="header-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="banner">
                    <div class="banner-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="banner-title">
                                    <h1>Sharing research data for improved yields</h1>
                                    <div class="banner-btn">
                                        <a href="/" class="btn btn-primary input-lg">EXPLORE TRIAL DATA</a>
                                        <!--<button type="submit" class="btn btn-primary input-lg" ng-disabled="vm.disableInputField && vm.prop !== 'trial_id' || vm.searching" ng-click="vm.searchTrials()">EXPLORE TRIAL DATA</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img ng-src="{{vm.loadImage('home_banner_1.jpg')}}" alt="Home Banner">
                </div>
            </div>
        </div>
    </section>
    <!--Introduction section-->
    <section class="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="title">
                        <h3>The largest long term crop trials platform for Western Kenya.</h3>
                    </div>
                    <div class="text">
                        <p>
                            The trial database contains research findings and associated information from crop trials conducted in Murumba Yiro and Nyabeda villages in Western Kenya. These are records from 2003 to date that majorly looked into ISFM technologies, productivity and ecosystem functioning of CA packages. Crops that were studied include maize, soybean and tephrosia. The data mainly focuses on tillage practices, nitrogen and phosphate application, presence or absence of farm residue, application of farmyard manure and crop yields.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--INM3 details-->
    <section class="inm3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="title">
                        <h3>INM3 Long-term Trials</h3>
                    </div>
                    <div class="trial-text">
                        <p>
                            INM3 is a long-term productivity and sustainability trials of crop-livestock systems through integrated soil fertility management conducted in Murumba Yiro village, western Kenya since 2003. Maize is the dominant crop in this region, followed by food legumes such as common beans and, more recently soybean. The area has two rainy seasons enabling farmers to plant crops twice a year.
                        </p>
                        <h3>Trial Objectives</h3>
                        <ul>
                            <li>Assess the impact of contrasting crop rotations in response to addition of farmyard manure and green manure grown on site.</li>
                            <li>To promote integration of organic and mineral fertilizers as a means to restore the productivity of degraded soils.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="trial-image">
                        <div uib-carousel active="active" no-wrap="noWrapSlides">
                            <div uib-slide ng-repeat="slide in vm.inm3Slides track by $index" index="$index">
                                <img ng-src="{{slide.image}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--INM3 details-->
    <section class="ct1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="trial-image">
                        <div uib-carousel active="active" no-wrap="noWrapSlides">
                            <div uib-slide ng-repeat="slide in vm.ct1Slides track by $index" index="$index">
                                <img ng-src="{{slide.image}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="title">
                        <h3>CT1 Long-term Trials</h3>
                    </div>
                    <div class="trial-text">
                        <p>
                            CT1 is a long-term productivity and sustainability trials of cereal and legume systems through conservation agriculture conducted in Nyabeda village, western Kenya since 2003. It assess the productivity and ecosystem functioning of conservation agriculture packages. Maize and soybean were picked as test crops in the trial because Maize is dominant food crop in the region and Soybean as dual-purpose grain legume has the potential to improve soil fertility.
                        </p>
                        <h3>Trial Objectives</h3>
                        <ul>
                            <li>To evaluate the productivity of different cropping systems following conservation tillage practices and crop residue additions.</li>
                            <li>To determine the effect of conservation tillage effects on sustainability and soil health indicators.</li>
                            <li>To promote conservation tillage practices as a means to restore the productivity of degraded soils.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>