.about-page .header-banner .banner {
    height: 480px;
    margin: 0px;
}
.banner .banner-overlay {
    position: absolute;
    width: 100%;
    height: 480px;
    margin: 0px;
    background-color: rgba(10, 10, 10, 0.2);
}

.banner .banner-title {
    position: absolute;
    display: block;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

.banner .banner-title h1 {
    color: #fff;
    width: 70%;
    font-weight: 700;
    font-size: 4em;
    padding: 130px 0 25px;
    display: inline-block;
    border-bottom: 1px solid #fff;
}
.banner-title .banner-btn {
    padding-top: 30px;
}

.banner-btn .btn {
    font-weight: 700;
    font-size: 1.2em;
    height: 44px;
    background-color: #4274af;
}

.banner-btn .btn-primary {
    /*height:*/
    width: 25%;
    padding: 0px;
}

.about-page .title {
    padding-bottom: 30px;
    text-transform: capitalize;
}

.about-page .title h3 {
    color: #97be32;
    font-size: 2em;
    font-weight: 700;
}

.introduction {
    padding: 50px 0px 50px;
}

.introduction .title {
    text-align: center;
}

.introduction .text {
    text-align: center;
}

.introduction .text p {
    color: #707070;
    font-size: 20px;
    line-height: 1.5;
}

.inm3 {
    padding: 50px 0px 50px;
    background-color: #faf3dd;
}

.inm3 .title {
    padding-bottom: 5px;
}

.trial-text p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    color: #707070;
}

.trial-text h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #97be32;
    padding: 20px 0px 5px;
}

.trial-text ul {
    padding-left: 40px;
}

.ct1 {
    padding: 50px 0px 50px;
}

.ct1 .title {
    padding-bottom: 5px;
}